@import url("theme.css");

* {
  border: none;
  font-family: "FiraCode Nerd Font", sans-serif;
  font-size: 13px;
  min-height: 0;
  border: none;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
  border-radius: 8px;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#clock,
#battery,
#network,
#bluetooth,
#backlight,
#pulseaudio,
#custom-power {
  background-color: @color8;
  padding: 4px 12px;
  margin: 0 4px;
  margin-top: 12px;
  color: @foreground;
}

#custom-weather {
  background-color: @color4;
  margin-top: 12px;
  color: @background;
  padding: 4px 12px;
  margin-left: 4px;
}

#clock {
  background-color: @color4;
  color: @background;
}

#left,
#center,
#right {
  border-radius: 0px;
  padding: 6px 12px;
  margin: 4px;
  box-shadow: 0 0 8px @color8;
}

#workspaces {
  margin-top: 12px;
  margin-left: 4px;
  padding: 0px;
}

#workspaces button {
  background-color: @color8;
  color: @foreground;
  border-radius: 0px;
  margin-right: 8px;
}

#workspaces button.active {
  background-color: @color4;
  color: @background;
}

#workspaces button:hover {
  background-color: @color6;
  color: @background;
}
