@import "/home/nomeon/.config/wofi/theme.css";

* {
  border-radius: 0;
}

window {
  margin: 0px;
  border: 2px solid @color4;
  background-color: @background;
  border-radius: 0px;
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
}

#input {
  margin: 8px;
  padding: 6px 10px;
  border: none;
  border-radius: 0;
  background-color: @background;
  color: @foreground;
  caret-color: @accent;
}

#inner-box,
#outer-box {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

#outer-box {
  padding: 6px;
}

#scroll {
  margin: 0;
  padding: 0;
}

#entry {
  padding: 10px 10px;
  margin: 2px 10px;
  border-radius: 0;
  background-color: transparent;
  color: @foreground;
}

#entry:selected {
  background-color: @color4;
  color: @background;
  font-weight: bold;
}

#entry:drop(active) {
  background-color: @highlight;
}

#text {
  color: @foreground;
}

#text:selected {
  background-color: @color4;
}